<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type=text/css href="{% static 'hotel/css/normalize.css' %}">
    <link rel="stylesheet" type=text/css href="{% static 'hotel/css/main.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&family=Montserrat:wght@500&display=swap" rel="stylesheet"> 
    
    {% if title %}
        <title>Merveille Hotel - {{ title }}</title>
    {% else %}
        <title>Merveille Hotel</title>
    {% endif %}

</head>
<body>
    <!-- Navigation Bar -->
    <div>
        <nav class='nav'>
            <a href="#"><img class="logo" src="{% static 'hotel/images/Logos/Logotipo_Blanco.svg' %}" alt=""></a>

            <ul class='nav__list'>
                
                <a class='btn-list-1' href="#">Book now</a>
                <a href="#">Events</a>
                <a href="#">Offers</a>
            
                
            </ul>
            <div class='burger'>
                <div class='burger__div1'></div>
                <div class='burger__div2'></div>
                <div class='burger__div3'></div>
            </div>

        </nav>
    </div>

    <div>    
        <img class='div__img' src="{% static 'hotel/images/portada1.jpg' %}" alt="">

    </div> 


    <div>
        <img class="div__img2" src="{% static 'hotel/images/portada5_2.jpg'%}" alt="">
    </div>


    <script src="{% static 'hotel/js/jsmotion.js' %}"></script>
</body>
</html>