{% extends 'hotel/base.html' %}
{% load static %}
{% load custom_filters %}


{% block content %}
    <section id='home-container'>
        <div class='home-container__div'>
            <h1 class='home-container__h1'>Full enjoyment and unparalleled comfort all at the same place.</h1>
            <p class='home-container__p'>Looking for a comfortable accommodation? What gives you
                a happy and fun stay? Are you looking for a unique experience? All that and
                more in just one place: 
                Our unparalleled Hotel.
            </p>
            <div class='main-btn-container'>
                <div class='arrow-btn-container'>
                    <img class='left-arrow' src="{% static 'hotel/icons/left.svg' %}" alt="">
                    <img class='play-btn' src="{% static 'hotel/icons/play.svg' %}" alt="">
                    <img class='right-arrow' src="{% static 'hotel/icons/right.svg' %}" alt="">
                </div>

            </div>
        </div>
        <div class='image-container'>
            <div class='slides'>
                <div class='slides-img-container'>
                    <img src="{% static 'hotel/images/portada1_2.jpg' %}"  alt="">
                </div>

                <div class='slides-img-container'>
                    <img src="{% static 'hotel/images/portada2.jpg' %}" alt="">
                </div>

                <div class='slides-img-container'>
                    <img src="{% static 'hotel/images/portada3_2.jpg' %}" alt="">
                </div>

                <div class='slides-img-container'>
                    <img src="{% static 'hotel/images/portada4_2.jpg' %}" alt="">
                </div>
                
                
                <div class='slides-img-container'>
                    <img src="{% static 'hotel/images/portada5_2.jpg' %}" alt="">
                </div>
                
            </div>
            
        </div>  
    </section>

    <section id='about-container'> 
        <div class='about-container__div'>
            <h1 class='about-container__div-h1'>ABOUT MERVEILLE</h1>
            <div class='about-container-text-wrapper'>
                <div class='about-container-text'>
                    
                    <p>Merveille is a  modern and elegant
                        hotel located near the Juares Theater
                        and the Barquisimeto Museum.</p>
                        
                        <p>The bright and functional rooms have all the
                        comforts. There are room services, meeting rooms and
                        diners.</p>

                        <p>The hotel has a beautiful outdoor swimming pool and 
                        a casual restaurant bar with a gorgeous view of the
                        hotel.
                    </p>
                </div>
                
                
                <div class='about-slider'>
                    <div class='about-icons'>
                        <ul class='about-list'>
                            <div class='about-icon-container'>
                                <img src="{% static 'hotel/icons/Wifi.svg'%}" alt="">
                                <li>Free wifi in the whole building</li>

                            </div>
                            <div class='about-icon-container'>
                                <img src="{% static 'hotel/icons/Horario.svg'%}" alt="">
                                <li>Schedule: 24 hrs assisting you</li>


                            </div>
                            <div class='about-icon-container'>
                                <img src="{% static 'hotel/icons/Estacionamiento.svg'%}" alt="">
                                <li>The hotel offers free parking</li>

                            </div>
                        </ul>

                    </div>
                </div>
                    
                <div class='about-slide'>
                    <div class='arrow-beige-btn-container'>
                        <img class='left-arrow-beige'  src="{% static 'hotel/icons/Left_beige.svg' %}" alt="">
                    </div>
                    <div class='about-slide-img-container'>
                        <img src="{% static 'hotel/images/imagesAbout/imag1.png' %}" class='active' firstImg alt="">

                        <img src="{% static 'hotel/images/imagesAbout/imag2.png' %}" alt="">

                        <img src="{% static 'hotel/images/imagesAbout/imag3.png' %}" alt="">

                        <img src="{% static 'hotel/images/imagesAbout/imag4.png' %}" alt="">
                        
                        <img src="{% static 'hotel/images/imagesAbout/imag5.png' %}" lastImg alt="">
                    </div>
                    <div class='arrow-beige-btn-container'>
                        <img class='right-arrow-beige' src="{% static 'hotel/icons/Right_beige.svg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
        
    </section>
        
    <div>
        <section id='services-container'>
            <div class='services-container__div'>
                <div class='services-image-container'>
                    <div class='services-image-container__div'></div>
                    <img class='service-icon' src="{% static 'hotel/icons/Icono_Logo.svg' %}" alt="">
                    <h3 class='services-header'>Rooms<br>& Suites</h3>
                    <p>No Two rooms <br>were created or <br>decorated the <br>
                    same. With all <br>amenities.</p>
                    <img class='service-background-image' src="{% static 'hotel/images/servicios/Room-Suites.png' %}" alt="">
                    
                </div>

                <div class='services-image-container'>
                    <div class='services-image-container__div'></div>
                    <img class='service-icon' src="{% static 'hotel/icons/Icono_Logo.svg' %}" alt="">
                    <h3 class='services-header'>Strategize<br>or Celebrate</h3>
                    <p>Offering flexible <br>spaces conductive <br>to
                    productive <br>meetings and <br>dynamic events.</p>
                    <img class='service-background-image' src="{% static 'hotel/images/servicios/Strategiz-or-celebrate.png' %}" alt="">
                            
                </div>

                <div class='services-image-container'>
                    <div class='services-image-container__div'></div>
                    <img class='service-icon' src="{% static 'hotel/icons/Icono_Logo.svg' %}" alt="">
                    <h3 class='services-header'>Supreme <br>Soirees</h3>
                    <p>The perfect space <br>and team to <br>guarantee
                    your <br> event is a smashing <br> success.</p>
                    <img class='service-background-image' src="{% static 'hotel/images/servicios/Supreme-soiress.png' %}" alt="">
                            
                </div>
            </div>

        </section>
    </div>
    <div>
        <section id='map-container'>
            <div class='map-container__div'>
                <iframe class='map-container__iframe' src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7856.823840249113!2d-69.3169037757108!3d10.065294321225611!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e876712a6f067e5%3A0xf1af44ac225f95d0!2sConcha%20Acustica%2C%20Barquisimeto%203001%2C%20Lara!5e0!3m2!1sen!2sve!4v1640291537456!5m2!1sen!2sve" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </section>
    </div>
    <section id='know-info-container'>
        <div class='know-info-container__div'>
            <h4 class='know-info-header'>Let us know about your experience.</h4>
            <a href="#"><img class='back-top-icon' src="{% static 'hotel/icons/Back to top.svg' %}" alt=""></a>
            <div class='know-info-container-content'>
                <div class='know-info-container-content--active'>
                    {% for post in posts %}
                        <div class='know-info-comment-list-container'>
                            <li class='know-info-comment-list-container__li'>{{ post.content }}</li>
                            <h6 class='know-info-comment-list-container__h6'>{{ post.firstName }} {{ post.lastName }}</h6>
                            <p class='know-info-comment-list-container__p'>{{ post.date_posted|date:"F d, Y" }}</p>
                        </div>
                    {% endfor %}
                        
                        
                </div>
                <div class='know-info-form-container'>
                    <form method='POST'>
                        <div class='know-info__div'>
                            {% csrf_token %}
                            <!-- Here we access the specific form input fields, and add classes through the custom_filter.py
                            app for styling -->
                            {{ forms.firstName|addclass:'know-info-form-container__input' }}
                            {{ forms.lastName|addclass:'know-info-form-container__input' }}
                        </div>
                        <div class='know-info__div'>
                            {{ forms.email|addclass:'know-info-form-container__input-email' }}
                            {{ forms.content|addclass:'know-info-form-container__input-comment' }}
                            <button class='know-info__button'>Send</button>

                        </div>
                        
                    </form>

                </div>

            </div>
        
        </div>
    </section>
    <section id='footer-section'>
        <div class='footer-section-bar'></div>
        <div class='footer-section-content'>
            <p>Phone: (206) 622-6400 | Reservations: (800) 426-1265 | Email: info@hotelmerveille.com</p>
        <div class='footer-section-content__div'>
            <p>All rights reserved, web created by Team Pixel</p>
            <p class='follow-us-p'>Follow us</p>
            <div class='contact-social-media-container'>
                <a href=""><img class='contact-social-media-icon' src="{% static 'hotel/icons/Twt.svg' %}" alt=""></a>
                <a href=""><img class='contact-social-media-icon' src="{% static 'hotel/icons/Fb.svg' %}" alt=""></a>
                <a href=""><img class='contact-social-media-icon' src="{% static 'hotel/icons/Ig.svg' %}" alt=""></a>
            </div>
            
        </div>
        </div>



    </section>

{% endblock content %}

