{% extends 'hotel/base.html' %}
{% load static %}


{% block content %}
    <div class='image-container'>
        <h1 class='image-container__h1'>Full enjoyment and unparalleled comfort all at the same place.</h1>
        <p class='image-container__p'>Looking for a comfortable accommodation? What gives you
            a happy and fun stay? Are you looking for a unique experience? All that and
            more in just one place: 
            Our unparalleled Hotel.
        </p>
    <div>
        <div>
            <div class='slider'>
                <div class='slides'>
                    <div class='slides__img'>
                        <img src="{% static 'hotel/images/portada1_2.jpg' %}" alt="">
                    </div>

                    <div class='slides__img'>
                        <img src="{% static 'hotel/images/portada2.jpg' %}" alt="">
                    </div>

                    <div class='slides__img'>
                        <img src="{% static 'hotel/images/portada3_2.jpg' %}" alt="">
                    </div>

                </div>
                <div class='arrow-btn-container'>
                    <img class='right-arrow' src="{% static 'hotel/icons/right.svg' %}" alt="">
                    <img class='left-arrow' src="{% static 'hotel/icons/left.svg' %}" alt="">
                </div>
            </div>
        </div>  
    </div>
    <div class='about-wrapper'>
        <section id='about-container'> 
            <div class='about-container__div'>
                <h1 class='about-container__div-h1'>ABOUT MERVEILLE</h1>
                <div class='about-container-text-wrapper'>
                    <div class='about-container-text'>
                        
                        <p>Merveille is a  modern and elegant
                            hotel located near the Juares Theater
                            and the Barquisimeto Museum.</p>
                            
                            <p>The bright and functional rooms have all the
                            comforts. There are room services, meeting rooms and
                            diners.</p>

                            <p>The hotel has a beautiful outdoor swimming pool and 
                            a casual restaurant bar with a gorgeous view of the
                            hotel.
                        </p>
                    </div>
                    <div class='about-container-text-list'>
                        <ul class='about-list'>
                            <li>Free wifi in the whole building</li>
                            <li>Schedule: 24 hrs assisting you</li>
                            <li>The hotel offers free parking</li>
                        </ul>
                    </div>
                    <div class='about-line'></div>
                    <div class='arrow-beige-btn-container'>
                        <img class='right-arrow' src="{% static 'hotel/icons/Right_beige.svg' %}" alt="">
                        <img class='left-arrow' src="{% static 'hotel/icons/Left_beige.svg' %}" alt="">
                    </div>
                    <div class='about-slider'>
                        <div class='about-slide'>
                            <div class='about-slide__img'>
                                <img src="{% static 'hotel/images/imagesAbout/imag1.png' %}" alt="">
                            </div>

                            <div class='about-slide__img'>
                                <img src="{% static 'hotel/images/imagesAbout/imag2.png' %}" alt="">
                            </div>

                            <div class='about-slide__img'>
                                <img src="{% static 'hotel/images/imagesAbout/imag3.png' %}" alt="">
                            </div>

                            <div class='about-slide__img'>
                                <img src="{% static 'hotel/images/imagesAbout/imag4.png' %}" alt="">
                            </div>

                            <div class='about-slide__img'>
                                <img src="{% static 'hotel/images/imagesAbout/imag5.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
        </section>
    </div>
    <div>
        <img class='div__img' src="{% static 'hotel/images/portada4_2.jpg'%}" alt="">
    </div>
{% endblock content %}

