/* 
=====================================================
                      
                       Table of
                       Contents

=====================================================


1.  Root Variables

2.  Global Styles

3.  navBar Classes
    2.1 First navBar Classes
    2.2 Second navBar Classes

4.  Button Classes 
    4.1 Arrow Button Classes
    4.2 First navBar Button classes 
    4.3 Second navBar Button classes
    4.4 Know-info Button classes 

5.  Image  Classes 
    5.1 Icon Classes



6.  Typography Classes
    6.1 Home Page Section
    6.2 About Section
    6.3 Services Section
    6.4 know-info Section
    6.5 footer Section


7.  Wrapper Classes
    7.1  Wrapper Home Classes
    7.2 Wrapper About Classes
    7.3 Wrapper Services Classes
    7.4  Wrapper Map Classes
    7.5  Wrapper know-info Classes
    7.6  Wrapper Footer-section Classes


8.  Active Classes
9.  Media  Screen



=========================================================
*/

/* 
=========================

   1.  Root Variables

=========================
*/

:root{

    --ff-mont: 'Montserrat', serif;
    


}




/* 
======================

   2. Global Styles

======================
*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;

}

body{
    background-color: rgb(46, 46, 46);
    font-family: var(--ff-mont), sans-serif;

}






/* 
=========================

   3. NavBar Classes

=========================
*/

/* 
================================

/// 3.1 First navBar Classes ///

================================
*/

.logo{
    position:absolute;
    top: 5vh;
    width: 10vw;
    left: 3vw;
    height: 6vh;

}



.logo_link{
    z-index: 3;

}

.nav {
    position: fixed;
    display: flex;
    z-index: 2;
    justify-content: space-around;
    background-color: transparent;
    border-bottom: 0.2vh solid white;
    transition-duration: 500ms;
    align-items: center;
    width: 90%;
    min-height: 14vh;
    left: 5%;
    font-size: 15px;
}

.nav__list {
    display: flex;
    position: absolute;
    justify-content: space-around;
    width: 30%;
    right: 5vw;
    list-style: none;

    
}

.nav__list a{

    color: #ffff;
    text-decoration: none;
    font-weight: bold;

}

/* 
=================================

/// 3.2 Second navBar Classes ///

=================================
*/


.nav2 {
    z-index: 2;
    position: fixed;
    display: inline;
    justify-content: space-around;
    align-items: center;
    width: 3%;
    transition-duration: 500ms;
    right:0;
    min-height: 20vh;
    font-size: 16.3vh;
}

.nav__list2{
    position: absolute;
    right: 0;
    height: 100vh;
    top: 0;
    background-color: #2B2B2B;
    display: flex;
    flex-direction: column;
    transition-duration: 500ms;
    border: none;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
}

.nav__list2 a{

    color: #ffff;
    text-decoration: none;
    font-weight: bold;
    padding-left: 5vw;

}


.burger {
    z-index: 3;
    cursor: pointer;
    padding-top: 1%;
    transition-duration: 500ms;
    transition: all 0.5s ease;
}


.burger div {
    height: 4px;
    width: 40px;
    margin: 6px;
    border-radius: 3px;
    background-color: #ffff;
    transition-duration: 500ms;
}



/* 
======================

  4. Button Classes

======================
*/


/* 
==================================

/// 4.1 Arrow Button Classes ///

==================================
*/


.arrow-btn-container{
    cursor:pointer;
    
}


.left-arrow{
    position: absolute;
    left: 86vw;
    top: 40vmax;
    width: 3vw;
    height: 5vh;
}

.right-arrow{
    position: absolute;
    left: 91vw;
    top: 40vmax;
    width: 3vw;
    height: 5vh;
}




.arrow-beige-btn-container{
    
    margin-top: auto;
    margin-bottom: auto;
    cursor:pointer;
}

.left-arrow-beige{
    width: 3vw;
    height: 5vh;
}


.right-arrow-beige{
    width: 3vw;
    height: 5vh;
}





/* 
=======================================

/// 4.2 First navBar Button classes ///

=======================================
*/

.nav__list a{
    width: 7vw;
    height: 5vh;
    border-radius: 5vw;
    text-align: center;
    background-color: transparent;
    transition-duration: 300ms;
    cursor: pointer;


}

.nav__list a{
    position: relative;
    top: 0.8vh;
    font-size: 2vh;
    line-height: 5vh;
    padding-left: 1vw;
    padding-right: 1vw;
    width:auto;
}



.btn-list-1{
    margin-top: auto;
    margin-bottom: auto;
}

.btn-list-1:hover{
    background-color: #B28659;
    border: 2px solid white;
}


.btnSlide-menu{
    display: none;
}

/* 
==============================================

/// 4.3 Second navBar Button classes ///

==============================================
*/


.nav__list2 a{
    position: relative;
    font-size: 2vh;
    padding-top: 15%;
    padding-right: 60%;  
    opacity: 0;
    text-align: center;  

}




.nav__list2 a {
    width: 100%;
    height: 100%;
    background-color: transparent;

}


.nav__list2 a::before{
    content: "";
    position: absolute;
    left: 2vw;
    bottom: 3vh;
    width: 0;
    height: 3px;
    background-color: white;
    transition: width 0.25s ease-out;

}

.nav__list2 a:hover::before{

    width: 100%;

}

.btn-list-2{
    display: none;
}
/* 
==============================================

/// 4.4 Know-info Button classes ///

==============================================
*/


.know-info__button{
    margin-top: 5px;
    width: 100%;
    max-width: 30.7vw;
    height: 8vh;
    color: white;
    background-color: #B28659;
    border-style: none;
    border-radius: 3vh;
    text-align: center;
    cursor: pointer;
}



/* 
==============================

       5. Image Classes

==============================
*/

.image-container{
    width: 100vw;
    height: 100%;
}

.slider{
    overflow: hidden;
}

.div__img{
    width:100vw;
    height: 100vh;
    
}

.slides__img img{
    width: 100vw;
}

.slides{
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition-duration: 700ms;
}

.about-slider{
    position: relative;
}



.about-slide-img-container img{
    display: none;
    transition-duration: 200ms;
    bottom: -10%;
    width: 20vw;
    height: 50vh;
}


.about-slide-img-container img.active{
    display: inline-block;
}



.service-background-image{
    background-color: #2B2B2B;
    height: 100%;
    width: 100%;
}



/* 
==========================

/// 5.1 Icon Classes ///

==========================
*/

.about-icons img{
    width: 60px;
    margin-right: 1rem;
}


.service-icon{
    display: block;
    position: absolute;
    z-index: 0;
    opacity: 0;
    top: 40vh;
    left: -10%;
    height: 30vh;
    width: 40vw;
    transition-duration: 200ms;

}


.back-top-icon{
    display: inline;
    height: 40px;
    width: 40px;
}



.contact-social-media-icon{
    width: 50px;

}


/* 
===========================

   6. Typography Classes

===========================
*/

/* 
================================

/// 6.1 Home Page Section ///

================================
*/


.home-container__h1{
    bottom: 8vh;
    position: absolute;
    padding: 38vh 20vw;
    font-size: 2rem;
    font-family: var(--ff-mont);
    text-align: center;
    color: white;
}

.home-container__p{
    position: absolute;
    padding: 55vh 30vw;
    font-size: 1.3rem;
    font-weight: 300;
    font-family: var(--ff-mont);
    color: white;
    text-align: center;
}

/* 
================================

/// 6.2 About Section ///

================================
*/






.about-container__div-h1{
    display: block;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 2.5rem;
    font-family: var(--ff-mont);
    text-align: center;
    color: #292929;
}

.about-container-text p {
    font-family: var(--ff-mont);
    font-size: 1.1rem;
    word-wrap: break-word;
    font-weight: 400;
    word-spacing: 3px;
    display: inline-block;
    bottom: 0;
}

.about-icon-container li{
    font-family: var(--ff-mont);
    font-style: italic;
    font-weight: 500;
    display: block;
    list-style: none;
    padding: 2vh 0;
    font-size: 1rem;
}

/* 
================================

/// 6.3 Services Section ///

================================
*/




.services-header{
    position: absolute;
    padding-top: 5vh;
    padding-left: 3vw;
    z-index: 1;
    color: white;
    font-family: var(--ff-mont);
    font-size: 2rem;
    font-style: italic;
    transition-duration: 300ms;


}

.services-image-container p {
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
    padding-bottom: 5vh;
    padding-right: 3vw;
    color: white;
    font-family: var(--ff-mont);
    font-size: 1.3rem;
    transition-duration: 300ms;
}


/* 
================================

/// 6.4 know-info Section ///

================================
*/


.know-info-header{
    padding-top: 5%;
    font-family: var(--ff-mont);
    font-size: 2.5rem;
    text-align: center;



}

.know-info-comment-list{
    position: absolute;
    display: inline-block;
    top: 0;
}

.know-info-comment-list-container__h6{
    position: absolute;
    font-family: var(--ff-mont);
    font-weight: 600;
    width: 100%;
    font-size: 0.8rem;
    color: white;
    padding-left: 5%;
    top: 2vh;

}

.know-info-comment-list-container__li{
    list-style: none;
    color: white;
    font-family: var(--ff-mont);
    background-color: #032940ff;
    height: fit-content;
    width: 100%;
    border-bottom: 1px solid white;
    font-size: .8rem;
    font-weight: 300;
    word-wrap: break-word;
    padding: 8% 5% 10% 5%;
    

}

.know-info-comment-list-container__li:first-child{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom: 1px solid white;
}
.know-info-comment-list-container__li:last-child{
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom: none;

}




.know-info-comment-list-container__p{
    position: absolute;
    font-family: var(--ff-mont);
    bottom: 1%;
    font-weight: 300;
    padding: 3% 5%;
    color: white;
    font-size: .7rem;

}


/* 
================================

/// 6.5 footer Section ///

================================
*/


.footer-section-content p{
    font-family: var(--ff-mont);
    text-align: center;
    margin-top: 2%;
    margin-bottom: 3%;


}



.follow-us-p{

}






/* 
===========================

   7.  Wrapper Classes

===========================
*/


/* 
======================================

/// 7.1  Wrapper Home Classes ///

======================================
*/

#home-container{
    height: 100%;
    width: 100%;
}



/* 
======================================

/// 7.2  Wrapper About Classes ///

======================================
*/





.about-wrapper{
    width:100vw;
    height:100vh;
}


#about-container{
    display: block;
    background-color: #f8f8f8;
    width: 100vw;
    height: 100vh;
}

.about-container__div{
    width: 100%;
    height: 100%;
}

.about-icon-container{
    display: flex;
}





.about-container-text-wrapper{
    position: relative;
    display: flex;
    margin: 0 10%;
    justify-content: center;
}
.about-container-text-wrapper div{
    margin-top: auto;
    margin-bottom: auto;
}

.about-slider{
    margin: 0 10%;
}

.about-slide{
    right: 0;
    display: flex;
}

.about-container-text-list{
    width: 100%
}






/* 
======================================

/// 7.3  Wrapper Services Classes ///

======================================
*/


#services-container{
    display: block;
    background-color: #292929;
    margin-top: 1vh;
    width: 100vw;
    height: 100vh;

}

.services-container__div{
    display: flex;
    height: 100%;
    width: 100%;

}


.services-image-container{
    position: relative;
    height: 100%;
    width: 100%;

}


.services-image-container__div{
    display: block;
    cursor: pointer;
    z-index: 1;
    position: absolute;
    background-color: #000000b7;
    height: 100%;
    width: 100%;
    transition-duration: 200ms;
}

.services-image-container__div:hover{
    background-color: #0000002a;

}

/* 
======================================

/// 7.4  Wrapper Map Classes ///

======================================
*/


#map-container{
    height: 100%;
    width: 100%;

}

.map-container__div{
    margin-top: .5vh;
    margin-bottom: -0.3%;
    height: 100%;
    width: 100%;
}

.map-container__iframe{
    width: 100%;
    height: 50vh;
}


/* 
======================================

/// 7.5  Wrapper know-info Classes ///

======================================
*/



#know-info-container{
    background-color: white;
    height: 100%;
    width: 100%;

}

.know-info-container__div{
    height: 100vh;
    width: 100vw;
}

.know-info-container-content{
    position: relative;
    display: flex;
    justify-content:space-around;

}

.know-info-container-content--active{
    height: 55vh;
    width: 100%;
    margin-left: 10%;
    overflow-y: scroll;
}


.know-info-comment-list-container{
    position: relative;
    width: 100%;
    height: fit-content;


}



.know-info-form-container{
    height: 100%;
    width:100%;
}



.know-info__div{
    width:63%;

}


.know-info__div:first-child{
    display: flex;
    margin-left: 15%;
    

}


.know-info__div:last-child{
    margin-top: 5px;
    display: flex;
    margin-left: 15%;
    flex-direction: column;
}






.know-info-form-container__input{
    width: 100%;
    height: 8vh;
    border-radius: 5px;
    padding-left: 20px;
    border-color: #292929;
    border-width: 1.5px;

}

.know-info-form-container__input:last-child{
    margin-left: 5px;


}
.know-info-form-container__input-email{
    
    height: 8vh;
    width: 100%;
    max-width: 30.7vw;
    max-height: 30vh;
    border-radius: 5px;
    padding-left: 20px;
    border-color: #292929;
    border-width: 1.5px;
}

.know-info-form-container__input-comment{
    
    padding-top: 8px;
    margin-top: 5px;
    width: 100%;
    height: 30vh;
    max-width: 30.7vw;
    max-height: 30vh;
    border-radius: 5px;
    padding-left: 20px;
    border-color: #292929;
    border-width: 1.5px;
    text-decoration: none;
    resize: none;

}


/* 
=============================================

/// 7.6  Wrapper Footer-section Classes ///

============================================
*/

#footer-section{
    background-color: white;
    height: 30vh;
    width: 100vw;
}

.footer-section-bar{
    background-color: black;
    height: 2px;
    width: 80%;
    border-radius: 3px;
    margin: 0 10%;
    
}

.footer-section-content__div{
    display: flex;
    justify-content: space-around;
    gap: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 50%
}

.contact-social-media-container{
    display: flex;
    gap: 10px;
    margin-top: 1%;
}




/* 
================================================================================================

                        8. Media Screen Responsive Measures PC screens

=================================================================================================
*/



@media screen and (max-width:1024px){
/* 
======================
      Table of
      Contents


1.  navBar Classes

2.  Typography Classes
    2.1 About Section

3.  Wrapper Classes
    3.1  Wrapper About Classes
    3.2  Wrapper Footer-section Classes


======================
*/


/* 
======================

  1. navBar Classes

======================
*/


    .nav__list{
        width:60%;
    }

    .nav__list a{
        position: relative;
        top: 0;
        font-size: 2vh;

    }



/* 
============================

2.  Typography Classes

=============================
*/

/* 
===================================

  2.1 About Section

====================================
*/
    .about-container-text p {
        font-size: 0.8rem;

    }


/* 
===================================

  3.1  Wrapper know-info Classes

====================================
*/

   

    .know-info-form-container{
        height: 50vh;
        width:100%;
    }








    .know-info-form-container__input{
        width: 100%;
        height: 8vh;
    
    }



    .know-info-form-container__input-email{
    
        height: 8vh;
        width: 100%;
    }
    
    .know-info-form-container__input-comment{
        width: 100%;
        height: 25vh;
    
    }
    



    .know-info-form-container__input, 
    .know-info-form-container__input-comment, 
    .know-info-form-container__input-email{
        padding-left: 5px;
    }



/* 
=======================================

  3.2  Wrapper Footer-section Classes

=======================================
*/

#footer-section{
    height: 50vh;
}















}





/* 
================================================================================================

                            Media screen Responsive Measures mobile screens

=================================================================================================
*/


/* 
================================================================================================

                        for a max HEIGHT of 768px (for devices on horizontal mode)

=================================================================================================
*/
@media screen and (max-height:768px){


/* 
=================================================

            About Section Typography

=================================================
*/
    .about-container__div-h1{
        padding-bottom: 0;
    }

    .know-info-header{
        margin-bottom: 0;
        margin-bottom: 2%;

    }

    
    .about-icon-container li{
        font-size: 0.8rem;
    }

/* 
=================================================

        About and Know-info Section Wrappers

=================================================
*/

    .know-info-container__div, #about-container, 
    .about-wrapper{
        height: 108vh;
    }
  
}


/* 
================================================================================================

                    for a max HEIGHT of 350px (for devices with keyboard on)

=================================================================================================
*/


@media screen and (max-height:350px){

/* 
=================================================

        About and know-info Section Wrappers

=================================================
*/

    .about-container-text-wrapper{
        margin: 0 5%;
    }

    .about-slide-img-container img{
        height:60vh
    }


    .know-info-container__div, #about-container, 
    .about-wrapper{
        height: 150vh;
    }

    
}
/* 
================================================================================================

                    for a max WIDTH of 768px (for devices on vertical mode)

=================================================================================================
*/



@media screen and (max-width:768px){

/* 
======================
      Table of
      Contents


1.  Global Styles
2.  navBar Classes
3.  Button Classes
    3.1 Arrow Button Classes


4.  Image  Classes 
    4.1 icon Classes


5.  Typography Classes
    5.1 Home Page Section
    5.2 About Section

6.  Wrapper Classes
    6.1  Wrapper About Classes
    6.2  Wrapper Service Section Classes 
    6.3  Wrapper Know-info Classes
    6.4  Wrapper footer-section Classes

======================
*/







/* 
======================

   1. Global Styles

======================
*/
    
    body{
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .nav {
        position: fixed;
        z-index: 3;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        left: 0;
        min-height: 20vh;
        font-family: var(--ff-mont);
        font-size: 16.3vh;
    }
    

/* 
======================

  2. navBar Classes

======================
*/


    .nav__list2{
        z-index: 3;
        position: absolute;
        right: 0;
        height: 100vh;
        top: 0;
        background-color: rgba(0, 0, 0, .9);
        display: flex;
        flex-direction: column;
        border: none;
        align-items: center;
        width: 100%;
        transition-duration: 500ms;
        transform: translateX(200%);
    }



    .logo{
        position: absolute;
        top: 6vh;
        width: 30vw;
        left: 10vw;

    
    }





    .burger{
        z-index: 3;
        position: relative;
        margin-left: auto;
        display: block;
        transition: all 0.3s ease;
    }




/* 
======================

  3. Button Classes

======================
*/




    .btn-list-1{
        display: none;
    }

    .btn-list-2{
        display: block;
    }


    .btn-list-2:hover{
        background-color: #B28659;
        transition-duration: 300ms;

    }


    .know-info__button{
        width: 120%;
        max-width: none;
    }





/* 
==================================

/// 3.1 Arrow Button Classes ///

==================================
*/

    
    .arrow-btn-container{
        display: none;
    }
    .btnSlide-menu{
        display: inline;
        
    }

        

    .arrow-beige-btn-container{
    
        margin-top: auto;
        margin-bottom: auto;
        cursor:pointer;
    }
    
    .right-arrow-beige,.left-arrow-beige{
        z-index: 2;
        position: absolute;
        top: 115%;
        background-color: #000000d2;
        width: 8vw;
        height: 100vh;
    }
    
    .right-arrow-beige{
        bottom: 0;
        right: -12%;
    }
    
    .left-arrow-beige{
        bottom: 0;
        left: -14%;

    }



    /* 
    ======================

    4. Image Classes

    ======================
    */



    .slides__img img{
        width:100vw;
        height: 100vh;
        object-fit: cover;
        object-position: center;
        image-resolution: 1000px;
    }

    .div__img{
        margin-top: 110px;
        object-fit: cover;
        object-position: center;
        image-resolution: 1000px;
        width: 100vw;
        height: 100vh;
    }





    
    
    .about-slide-img-container img{
        position: absolute;
        right: -12%;
        top: 115%;
        display: none;
        width: 100vw;
        height: 100vh;
    }
    
    
    .about-slide-img-container img.active{
        display: inline-block;
    }
    




/* 
==========================

/// 4.1 Icon classes ///

==========================
*/
/* 
    .about-icons{
        display: none;
        flex-direction: column;
        padding-top: 10vh;
        padding-right: 1vw;
        gap: 8vh;
        width: 40px;
    } */

    .service-icon{
        left: 30%;
        top: 30%;
    }

    .back-top-icon{
        display: none;

    }
    
/* 
===========================

5. Typography Classes

===========================
*/

/* 
================================

/// 5.1 Home Page Section ///

================================
*/


    .home-container__h1{
        position: absolute;
        padding: 30vh 10vw;
        bottom: 20vh;
        font-size: 1.5rem;   
        resize: none;
        font-family: var(--ff-mont);
        color: white;
    }

    .home-container__p{
        position: none;
        padding: 55vh 10vw;
        font-size: 1.2rem;
        font-weight: 300;
        font-family: var(--ff-mont);
        color: white;
        text-align: center;
    }


/* 
================================

/// 5.2 About Section ///

================================
*/


    .about-container__div{
        width: 100%;
        height: 100%;
    }
    
    
    .about-container__div-h1{
        display: block;
        font-weight: 700;
        margin-top: 0;
        padding-top: 5%;
        padding-bottom: 5%;
        font-size: 4vmax;
        font-family: var(--ff-mont);
        text-align: center;
        color: #292929;
    }
    
    .about-container-text p {
        font-family: var(--ff-mont);
        font-size: 1.5rem;
        font-weight: 400;
        word-spacing: 3px;
        text-align: center;
        margin-bottom: 5%;
    }
    
    .about-list{
        font-family: var(--ff-mont);
        font-style: italic;
        font-weight: 500;
        list-style: none;
    }

   
    .about-list div{
        margin-bottom: 20px;
    }
    .about-list li{
        font-size: 2rem;
    }
    .about-list div:first-child{
        margin-top: 40px;
    }



/* 
================================

/// 5.3 know-info Section ///

================================
*/

    .know-info-header{
        padding-top: 5%;
        margin-bottom: 10%;
        font-family: var(--ff-mont);
        font-size: 2.5rem;
        text-align: center;



    }





/* 
===========================

   6.  Wrapper Classes

===========================
*/



/* 
======================================

/// 6.1  Wrapper About Classes ///

======================================
*/





    .about-wrapper{
        width:100vw;
        height:260vh;
    }


    #about-container{
        display: block;
        background-color: #f8f8f8;
        width: 100vw;
        height: 260vh;
    }

    .about-container-text, .about-container-text-list{
        position: relative;
        padding-top: 5%;

    }

    .about-container-text-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

   
    .about-container-text-list{
        width: 100%
    }


    .about-slider{
        margin: 0;
    }

/* 
============================================ 

/// 6.2  Wrapper Service Section Classes ///

=============================================
*/


    #services-container{
        height: 250vh;
    }


    .services-container__div{
        display: flex;
        flex-direction: column;
        margin-top: 2vh;
        height: 35%;

    }

    /* 
======================================

/// 6.3  Wrapper Know-info Classes ///

======================================
*/
    #know-info-container, .know-info-container__div{
        height: 150vh
    }



    .know-info-container-content{
        display: flex;
        flex-direction: column;
    }


    .know-info-container-content--active{
        position: absolute;
        bottom: -130%;
        height: 55vh;
        width: 95%;
        margin-left: 2%;
        margin-right: 1%;
    }


    .know-info-form-container__input-email,
    .know-info-form-container__input-comment{
        
        width: 120%;
        max-width: none;
    }

    .know-info__div:first-child{
        width: 96%;
    }



    .know-info__div{
        position: relative;
        left: -14%;
        width: 80%;
    }



    /* 
============================================

/// 6.4  Wrapper footer-section Classes ///

===========================================
*/



    .footer-section-content{
        margin-top: 5%;
    }



}

/* 
================================================================================================

                    for a max WIDTH of 600px (for some devices)

=================================================================================================
*/

@media screen and (max-width:600px){
    .about-wrapper, #about-container{
        height:285vh;
    }



}
 
/* 
================================================================================================

                                     END OF MOBILE SCREEN
                                            
=================================================================================================
*/







/* 
======================

9. Active Classes

======================
*/

.nav__list2-active a::after{
    content: '';
    height: 2px;
    width: 100%;
    background: #ffff;
    position: absolute;
    left: 0;
    bottom: 0;
}

.nav-background-active{
    background-color: #2B2B2B;
    border-bottom: 0.2vh solid;
    width: 100%;
    left: 0;
}


.nav-active {
    transform: translateX(0%);
}

.nav-active2 {
    width: 70%;
}

.burgerMotion{
    transform: translateX(100%);
}

.nav2TotalWidth{
    width: 30%;
}


@keyframes navFadeLists{
    from{
        opacity: 0;
        transform: translateX(50%);

    }



    to {
        opacity: 1;
        transform: translateX(0%);

    }
}




.toggle .burger__div1 {
    transform: rotate(-45deg) translate(-6px, 8px);

}

.toggle .burger__div2 {
    opacity: 0;
}

.toggle .burger__div3 {
 
    transform: rotate(45deg) translate(-6px, -8px);

}


.services-header--active{
    opacity: 0;

}

.service-icon--active{
    opacity: 1;

}

.service-paragraph--active{
    opacity: 0;

}

