
/* 
=====================================================
                      
                       Table of
                       Contents

=====================================================


1.  Global Styles

2.  navBar Classes
    2.1 First navBar Classes
    2.2 Second navBar Classes

3.  Button Classes 
    3.1 First navBar Button classes 
    3.2 Second navBar Button classes 

4.  Image  Classes 
5.  Typography Classes
6.  Active Classes
7.  Media  Screen



=========================================================
*/





/* 
======================

   1. Global Styles

======================
*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-color: rgb(46, 46, 46);
}





/* 
=========================

   2. NavBar Classes

=========================
*/

/* 
================================

/// 2.1 First navBar Classes ///

================================
*/

.logo{
    position:absolute;
    top: 5vh;
    width: 10vw;
    left: 3vw;
    height: 6vh;

}



.logo_link{
    z-index: 3;

}

.nav {
    position: fixed;
    display: flex;
    z-index: 1;
    justify-content: space-around;
    background-color: transparent;
    border-bottom: 0.2vh solid white;
    transition-duration: 500ms;
    align-items: center;
    width: 90%;
    min-height: 14vh;
    left: 5%;
    font-family: 'Montserrat', serif;
    font-size: 15px;
}

.nav__list {
    display: flex;
    position: absolute;
    justify-content: space-around;
    width: 30%;
    right: 5vw;
    list-style: none;

    
}

.nav__list a{

    color: #ffff;
    text-decoration: none;
    font-weight: bold;

}

/* 
=================================

/// 2.2 Second navBar Classes ///

=================================
*/


.nav2 {
    z-index: 2;
    position: fixed;
    display: inline;
    justify-content: space-around;
    align-items: center;
    width: 3%;
    right:0;
    min-height: 20vh;
    font-family: 'Montserrat', serif;
    font-size: 16.3vh;
}

.nav__list2{
    position: absolute;
    right: 0;
    height: 100vh;
    top: 0;
    background-color: #2B2B2B;
    display: flex;
    flex-direction: column;
    border: none;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition-duration: 500ms;
}

.nav__list2 a{

    color: #ffff;
    text-decoration: none;
    font-weight: bold;

}


.burger {
    z-index: 3;
    position: absolute;
    position: fixed;
    cursor: pointer;
    transition-duration: 500ms;
    right: 10%;
    top:5%;
    transition: all 0.5s ease;
}


.burger div {
    height: 4px;
    width: 40px;
    margin: 6px;
    border-radius: 3px;
    background-color: #ffff;
    transition-duration: 500ms;
}



/* 
======================

  3. Button Classes

======================
*/

.arrow-btn-container{
    cursor:pointer;
    
}


.left-arrow{
    position: absolute;
    left: 86vw;
    top: 40vmax;
    width: 3vw;
    height: 5vh;
}

.right-arrow{
    position: absolute;
    left: 91vw;
    top: 40vmax;
    width: 3vw;
    height: 5vh;
}



/* 
=======================================

/// 3.1 First navBar Button classes ///

=======================================
*/

.nav__list a{
    width: 7vw;
    height: 5vh;
    border-radius: 5vw;
    text-align: center;
    background-color: transparent;
    transition-duration: 300ms;
    cursor: pointer;


}

.nav__list a{
    position: relative;
    top: 0.8vh;
    font-size: 2vh;
    line-height: 5vh;
    padding-left: 1vw;
    padding-right: 1vw;
    width:auto;
}




.btn-list-1:hover{
    background-color: #B28659;
    border: 2px solid white;
}


.btnSlide-menu{
    display: none;
}

/* 
=================================

/// 3.2 Second navBar Button classes ///

=================================
*/


.nav__list2 a{
    position: relative;
    font-size: 2vh;
    padding-top: 15%;
    padding-right: 60%;  
    opacity: 0;
    text-align: center;  

}




.nav__list2 a {
    width: 100%;
    height: 100%;
    background-color: transparent;

}


.nav__list2 a::before{
    content: "";
    position: absolute;
    left: 2vw;
    bottom: 3vh;
    width: 0;
    height: 3px;
    background-color: white;
    transition: width 0.25s ease-out;

}

.nav__list2 a:hover::before{

    width: 100%;

}


/* 
==============================

       4. Image Classes

==============================
*/

.image-container{
    width: 100vw;
    height: 100vh;
}

.slider{
    overflow: hidden;
}

.div__img{
    width:100vw;
    height: 100vh;
    
}

.slides__img img{
    width: 100vw;
}

.slides{
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition-duration: 700ms;
}



/* 
===========================

   5. Typography Classes

===========================
*/




.image-container__h1{
    bottom: 8vh;
    position: absolute;
    padding: 38vh 34vw;
    font-size: 2.6vmax;
    font-family: 'Montserrat', serif;
    color: white;
}

.image-container__p{
    position: absolute;
    padding: 55vh 30vw;
    font-size: 1.5vmax;
    font-weight: 300;
    font-family: 'Montserrat', serif;
    color: white;
    text-align: center;
}

/* 
================================================================================================

                                       6. Media Screen

=================================================================================================
*/



@media screen and (max-width:1024px){
    .nav__list{
        width:60%;
    }

    .nav__list a{
        position: relative;
        top: 0;
        font-size: 2vh;

    }



    
}



/* 
================================================================================================

                                        Media screen:
                                            Mobile

=================================================================================================
*/


@media screen 
and (max-width:768px)
{    
/* 
======================
      Table of
      Contents


1.  Global Styles
2.  navBar Classes
3.  Button Classes
4. Typography Classes
5.  Image Classes


======================
*/







/* 
======================

   1. Global Styles

======================
*/
    
    body{
        overflow-x: hidden;
    }

    .nav {
        position: fixed;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        left: 0;
        min-height: 20vh;
        font-family: 'Montserrat', serif;
        font-size: 16.3vh;
    }
    

/* 
======================

  2. navBar Classes

======================
*/


    .nav__list{
        z-index: 4;
        position: absolute;
        right: 0;
        height: 100vh;
        top: 0;
        background-color: rgba(0, 0, 0, 0.8);
        display: flex;
        flex-direction: column;
        border: none;
        align-items: center;
        width: 100%;
        transition-duration: 500ms;
        transform: translateX(100%);
    }



    .logo{
        position: absolute;
        top: 6vh;
        width: 50vw;
        left: -1vw;

    
    }





    .burger{
        z-index: 4;
        display: block;
        position: absolute;
        right: 10vw;
        transition: all 0.3s ease;
    }




/* 
======================

  2. Button Classes

======================
*/

.nav__list a{
    position: relative;
    font-size: 3vh;
    padding: 5vh 1vw;    

}

.nav__list a{
    opacity: 0;
    text-align: center;
}



.btn-list-1:hover{
    background-color: #B28659;
}

.nav__list a {
    width: 100%;
    height: 100%;
    border-radius: 0;
    border: none;
    background-color: transparent;
}

.arrow-btn-container{
    display: none;
}
.btnSlide-menu{
    display: inline;
    
}

/* 
===========================

   4. Typography Classes

===========================
*/


.image-container__h1{
    position: absolute;
    padding: 30vh 10vw;
    bottom: 20vh;
    font-size: 3vmax;
    font-family: 'Montserrat', serif;
    color: white;
}

.image-container__p{
    position: absolute;
    padding: 55vh 10vw;
    font-size: 1.2rem;
    font-weight: 300;
    font-family: 'Montserrat', serif;
    color: white;
    text-align: center;
}




/* 
======================

   4. Image Classes

======================
*/



.slides__img, .div__img{
    width:100vw;
    height: 100vh;
}

.div__img{
    object-fit: cover;
    object-position: center;
    image-resolution: 1000px;
    width: 100vw;
    height: 100vh;
}

.slides{
    margin-bottom: 1rem;

}


}




 
/* 
================================================================================================

                                     END OF MOBILE SCREEN
                                            
=================================================================================================
*/







/* 
======================

5. Active Classes

======================
*/

.nav__list2-active a::after{
    content: '';
    height: 2px;
    width: 100%;
    background: #ffff;
    position: absolute;
    left: 0;
    bottom: 0;
}

.nav-background-active{
    background-color: #2B2B2B;
    border-bottom: 0.2vh solid;
    width: 100%;
    left: 0;
}


.nav-active {
    transform: translateX(0%);
}

.nav-active2 {
    width: 70%;
}

.burgerMotion{
    transform: translateX(100%);
}

.nav2TotalWidth{
    width: 30%;
}


@keyframes navFadeLists{
    from{
        opacity: 0;
        transform: translateX(50%);

    }



    to {
        opacity: 1;
        transform: translateX(0%);

    }
}




.toggle .burger__div1 {
    transform: rotate(-45deg) translate(-6px, 8px);

}

.toggle .burger__div2 {
    opacity: 0;
}

.toggle .burger__div3 {
 
    transform: rotate(45deg) translate(-6px, -8px);

}

