
/* 
======================
      Table of
      Contents


1.  Global Styles
2.  navBar Classes
3.  Button Classes 
4.  Image  Classes 
5.  Typography Classes
6.  Active Classes
7.  Media  Screen



======================
*/





/* 
======================

   1. Global Styles

======================
*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-color: rgb(46, 46, 46);
}



.nav {
    position: fixed;
    display: flex;
    z-index: 500;
    justify-content: space-around;
    background-color: transparent;
    border-bottom: 0.2vh solid white;
    transition-duration: 500ms;
    align-items: center;
    width: 90%;
    left: 5%;
    min-height: 14vh;
    font-family: 'Montserrat', serif;
    font-size: 15px;
}



/* 
======================

   2. NavBar Classes

======================
*/


 
.logo{
    position:absolute;
    top: 5vh;
    width: 10vw;
    left: 3vw;
    height: 6vh;

}


.nav__list {
    display: flex;
    position: absolute;
    justify-content: space-around;
    width: 30%;
    right: 5vw;
    list-style: none;

    
}

.nav__list a{

    color: #ffff;
    text-decoration: none;
    font-weight: bold;

}

.burger {
    position: relative;
    left: 82vw;
    display: none;
    cursor: pointer;
    transition-duration: 500ms;
}

.burger div {
    height: 4px;
    width: 40px;
    margin: 6px;
    border-radius: 3px;
    background-color: #ffff;
    transition-duration: 500ms;
}


/* 
======================

  3. Button Classes

======================
*/

.nav__list a{
    width: 7vw;
    height: 5vh;
    border-radius: 5vw;
    text-align: center;
    background-color: transparent;
    transition-duration: 500ms;
    cursor: pointer;


}

.nav__list a{
    position: relative;
    top: 0.8vh;
    font-size: 2vh;
    line-height: 5vh;
}

.nav__list a:hover{
    border: 1.5px solid #ffff;

}


.btn-list-1:hover{
    background-color: #002940;
}



.arrow-btn-container{
    cursor:pointer;
    
}


.left-arrow{
    position: absolute;
    left: 86vw;
    top: 40vmax;
    width: 3vw;
    height: 5vh;
}

.right-arrow{
    position: absolute;
    left: 91vw;
    top: 40vmax;
    width: 3vw;
    height: 5vh;
}

.pause-btn{
    position: absolute;
    left: 88.5vw;
    top: 40vmax;
    width: 3vw;
    height: 5vh;
}



/* 
======================

   4. Image Classes

======================
*/


.slider{
    width:100%;
    margin: auto;
    overflow-x: hidden;
}

.slides{
    display: flex;
    width: 100%;
    transition-duration: 700ms;
}






/* 
===========================

   5. Typography Classes

===========================
*/




.img__h1{
    bottom: 8vh;
    position: absolute;
    padding: 38vh 34vw;
    font-size: 2.6vmax;
    font-family: 'Montserrat', serif;
    color: white;
}

.img__p{
    position: absolute;
    padding: 55vh 30vw;
    font-size: 1.2rem;
    font-weight: 300;
    font-family: 'Montserrat', serif;
    color: white;
    text-align: center;
}

/* 
================================================================================================

                                       6. Media Screen

=================================================================================================
*/



@media screen and (max-width:1024px){
    .nav__list{
        width:60%;
    }

    .nav__list a{
        position: relative;
        top: 0;
        font-size: 2vh;

    }



    
}



/* 
================================================================================================

                                        Media screen:
                                            Mobile

=================================================================================================
*/


@media screen and (max-width:768px){
    
/* 
======================
      Table of
      Contents


1.  Global Styles
2.  navBar Classes
3.  Button Classes
4. Typography Classes
5.  Image Classes


======================
*/







/* 
======================

   1. Global Styles

======================
*/
    
    body{
        overflow-x: hidden;
    }

    .nav {
        position: fixed;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        left: 0;
        min-height: 20vh;
        font-family: 'Montserrat', serif;
        font-size: 16.3vh;
    }
    

/* 
======================

  2. navBar Classes

======================
*/


    .nav__list{
        position: absolute;
        right: 0;
        height: 100vh;
        top: 0;
        background-color: rgba(0,0,0,0.6);
        display: flex;
        flex-direction: column;
        border: none;
        align-items: center;
        width: 100%;
        transition-duration: 500ms;
        transform: translateX(100%);
    }



    .logo{
        position: absolute;
        top: 6vh;
        width: 50vw;
        left: -1vw;

    
    }





    .burger{
        display: block;
        position: absolute;
        right: 10vw;
        transition: all 0.3s ease;
    }




/* 
======================

  2. Button Classes

======================
*/

.nav__list a{
    position: relative;
    font-size: 3vh;
    padding: 12vh;    

}

.nav__list a{
    opacity: 0;
    text-align: center;
}



.btn-list-1:hover{
    background-color: #002940;
}

.nav__list a {
    width: 100%;
    height: 100%;
    border-radius: 0;
    border: none;
    background-color: transparent;
}

.arrow-btn-container{
    display: none;
}

/* 
===========================

   4. Typography Classes

===========================
*/


.img__h1{
    position: absolute;
    padding: 30vh 10vw;
    bottom: 20vh;
    font-size: 3vmax;
    font-family: 'Montserrat', serif;
    color: white;
}

.img__p{
    position: absolute;
    padding: 55vh 10vw;
    font-size: 1.2rem;
    font-weight: 300;
    font-family: 'Montserrat', serif;
    color: white;
    text-align: center;
}




/* 
======================

   4. Image Classes

======================
*/



.div__img{
    overflow-x: hidden;
    width: 1000px;
    height: 1000px;
}

.div__img4{
    width: 100vw;
    height: 50vh;
}





}




 
/* 
================================================================================================

                                     END OF MOBILE SCREEN
                                            
=================================================================================================
*/







/* 
======================

5. Active Classes

======================
*/


.nav-background-active{
    background-color: #2B2B2B;
    border-bottom: 0.2vh solid;
    width: 100%;
    left: 0;
}


.transparentNavbar-active{
    background-color: transparent;
}

.nav-active {
    transform: translateX(0%);
}


@keyframes navFadeLists{
    from{
        opacity: 0;
        transform: translateX(50%);

    }



    to {
        opacity: 1;
        transform: translateX(0%);

    }
}

.toggle .burger__div1 {
    transform: rotate(-45deg) translate(-6px, 8px);

}

.toggle .burger__div2 {
    opacity: 0;
}

.toggle .burger__div3 {
 
    transform: rotate(45deg) translate(-6px, -8px);

}

